<link rel="stylesheet" href="/css/otherLogin.css">

<div style="color: lightslategray;" class="mt-2 d-flex justify-content-center">OR</div>
<div class="mt-2">
    <!-- Use the SVG image directly as the link for Microsoft login -->
    <a href="/user/auth/microsoft" class="ms-login-link ">
        <img src="/images/svg/msLoginDark.svg" alt="Sign in with Microsoft" class="ms-login-icon" width="100%">
    </a>
</div>
