<link rel="stylesheet" href="/css/sidebarContentNoPlant.css">

<div class="container">
    <ul class="">
        <li class="clickable-li" data-url="/generalResources?type=ACADS">ACADS</li>
        <li class="clickable-li" data-url="/generalResources?type=IERs">IERs</li>
        <li class="clickable-li" data-url="/generalResources?type=SIF/TIF">SIF/TIF</li>
        <li class="clickable-li" data-url="/generalResources?type=Power History">Power History</li>
        <li class="clickable-li" data-url="/generalResources?type=Other Resources">Other Resources</li>
    </ul>
</div>

<script src="/js/sidebarContentNoPlant.js"></script>