<link rel="stylesheet" href="/css/sidebar.css">

<div class="offcanvas offcanvas-start" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">
        <a href="<%= typeof currentPlant !== 'undefined' ? `/plant/${currentPlant._id}` : '/' %>"><%= typeof currentPlant !== 'undefined' ? currentPlant.name : 'Home' %></a>
      </h5>
      
    </div>
    <hr>
  
    <div class="offcanvas-body">
      <% if (typeof currentPlant !== 'undefined') { %>
      <%- include('sidebarContent') %>
      <% } else { %>
        <%- include('sidebarContentNoPlant') %>
      <% } %>
    </div>
  </div>

  <div id="sidebarToggleButton" class="rounded-end-5 border-0 border-start-0 border"
      type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"  aria-controls="offcanvasStart">
        ≡
  </div>


<script src="/js/sidebar.js"></script>