<% layout('/layouts/boilerplate') %>
<style>
    .img-container {
        position: relative;
        width: 100%;
        padding-bottom: 75%; /* Aspect ratio (4:3) - adjust as needed */
        overflow: hidden;
    }
    .img-cropped {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .clickable-div {
        cursor: pointer;
    }
    .clickable-div:hover {
        opacity: 0.8;
    }
</style>
<%= console.log(currentUser) %>
<% if (currentUser.admin) { %>
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary mx-1" href="/plant/new">Create New Plant</a>
        <a class="btn btn-secondary mx-1" href="/seg/instruction/new">Create new Seg Template</a>
    </div>
<% } %>

<h3 class="mt-1 mb-3">Your Plants:</h3>
<div class="row">
    <% currentUser.plants.forEach((plant) => { %>
        <div data-url="/plant/<%= plant._id %>" class="clickable-div col-12 col-sm-6 col-lg-4 col-xl-4 mb-4">
            <div class="card shadow">
                <div class="img-container">
                    <img src="<%= plant.image.location ? plant.image.location : '/images/DavisBessePic.jpg' %>" alt="" class="card-img-top img-cropped" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= plant.name %></h5>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<script>
    document.querySelectorAll('.clickable-div').forEach(item => {
        item.addEventListener('click', function() {
            window.location.href = this.dataset.url;
        });
    });
</script>
