<% layout('/layouts/boilerplate') %>
    <h1>Reports</h1>

    <div class="mb-3">
        <%- include('./partials/reportTable', {team:'Operations', department:'Program Administration'}) %>
    </div>
    <div class="mb-3">
        <%- include('./partials/reportTable', {team:'Operations', department:'Implementation and Oversight'}) %>
    </div>
    <div class="mb-3">
        <%- include('./partials/reportTable', {team:'Maintenance and Technical', department:'Program Administration'}) %>
    </div>
    <div class="mb-3">
        <%- include('./partials/reportTable', {team:'Maintenance and Technical', department:'Implementation and Oversight'}) %>
    </div>





