<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 50px);
        gap: 0;
        border-collapse: collapse;
    }
    .cell {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
    }
</style>


<% layout('/layouts/boilerplate') %>
<h1 class="d-flex align-items-center inline-elements">
    <div>Self Assesment Matrix:</div>
    <select
        onchange="window.location=`/aosr/${this.value}`"
        class="ms-2 border-0 fw-light" name="plantSelect" id="plantSelect">
        <% for (let plant of currentUser.plants) { %>
        <option <%= currentPlant._id.toString() === plant._id.toString() ? 'selected' : '' %> value="<%= plant._id %>"><%= plant.name %></option>
        <% } %>
    </select>
</h1>


<div class="grid-container">
    <% for (let i = 0; i < 25; i++) { %>
        <input class="cell" type="text" />
    <% } %>
</div>

<script>
document.querySelector('title').innerHTML = `ARC <%=currentPlant.name%> Self-Assement Matrix`;
</script>