.crop {
    height: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 4;
    /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    line-height: 2;
    /* Adjust line height to fit the content better */
    font-size: 5px;
}

.container {
    max-width: 95%;
}

.bg-secondary {
    background-color: #7c838944 !important;
}

.trashcans {
    cursor: pointer;
}

select {
    cursor: pointer;
}

.clickable-div {
    cursor: pointer;
}

.formattedText {
    white-space: pre-wrap;
}

.navigationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    position: fixed;
    top: 48%;
    bottom: 48%;
    text-decoration: none;
    color: black;
    background-color: white;

    @media print {
        display: none;
    }
}

.navigationButtons:hover {
    opacity: 0.8;
    cursor: pointer;
}

#previousButton {
    left: 0px;

}

#nextButton {
    right: 0px;
    rotate: 180deg;
}