<!-- Modal -->
<form action="/<%=plant%>/<%=seg._id%>/editGroup/new" id="newGroupForm" method="post">
    <div class="modal fade" id="addRowModal" aria-labelledby="addRowModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="addRowModalLabel">Add Program Reviewed</h1>
                    <button type="button" class="btn-close reload" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body my-auto ">
                    <input id="addGroupInput" type="text" class="form-control" name="group">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary reload" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-primary" form="newGroupForm">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.querySelectorAll('.reload').forEach(reload => {
        reload.addEventListener('click', () =>
            window.location.reload())
    })
</script>