<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/images/DavisBessePic.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/user/register" method="POST" class="validated-form" novalidate>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="firstName">First Name</label>
                                <input class="form-control" type="text" id="firstName" name="firstName" maxlength="24" required autofocus>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">First name must be less than 25 characters and not empty</div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="lastName">Last Name</label>
                                <input class="form-control" type="text" id="lastName" name="lastName" maxlength="24" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Last name must be less than 25 characters and not empty</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" minlength="4" maxlength="24" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Username must be between 4-24 characters</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required
                                pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*]).{8,25}">
                            <div class="mt-2 text-muted">
                                <div id="charCount" class="password-requirement">8-25 Characters</div>
                                <div id="uppercase" class="password-requirement">Uppercase: A-Z</div>
                                <div id="lowercase" class="password-requirement">Lowercase: a-z</div>
                                <div id="special" class="password-requirement">Special: !@#$%^&*</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-success btn-block">Register</button>
                            <a class="my-auto" href="/user/login">Login</a>
                        </div>
                    </form>
                </div>
            </div>
            <%- include('../partials/otherLogin') %>
        </div>
    </div>
</div>

<script src="/js/registerUser.js"></script>
