<%- layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/images/DavisBessePic.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Reset Password</h5>
                    <form class="validated-form" action="/user/resetPassword/<%= resetToken %>" method="post" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="password0">Enter New Password</label>
                            <input pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*]).{8,25}"" class="form-control mb-2" type="password" name="passwords" id="password0" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password1">Verify New Password</label>
                            <input pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*]).{8,25}"" class="form-control mb-2" type="password" name="passwords" id="password1" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 text-muted">

                            <div id="match" class="password-requirement">Passwords do not Match</div>
                            <div id="charCount" class="password-requirement">8-25 Characters</div>
                            <div id="uppercase" class="password-requirement">Uppercase: A-Z</div>
                            <div id="lowercase" class="password-requirement">Lowercase: a-z</div>
                            <div id="special" class="password-requirement">Special: !@#$%^&*</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-success btn-block">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/resetPassword.js"></script>
